# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html

APP_ENV=dev
MESSENGER_TRANSPORT_DSN=doctrine://default

# Generate your own value with php -r "echo bin2hex(random_bytes(16)) . PHP_EOL;"
APP_SECRET=TODO

# Connection string to your postgresql instance
DATABASE_URL=TODO

# Hcaptcha
# When testing locally, use the special keys defined in the docs (https://docs.hcaptcha.com/#integration-testing-test-keys)
HCAPTCHA_SITE_KEY=TODO
HCAPTCHA_SECRET=TODO

# Developer api key used for searching Here Maps (https://platform.here.com/portal/)
HERE_API_KEY=TODO
