@import '~tom-select/dist/css/tom-select.bootstrap5.css';

.focus .ts-control {
  box-shadow: none;
}

.ts-dropdown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ts-wrapper.single .ts-control, .ts-wrapper.single .ts-control input {
  cursor: text;
  color: #212529;
}

.ts-wrapper.single .ts-control input::placeholder {
  color: #6c757d;
  opacity: 1;
  font-weight: 400;
}

.search-form {
  background-color: #fff;
  box-shadow: 0 2px 4px #0000007a;
  border-radius: 20px;
}

.input-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#submit {
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  // Override the default bootstrap button effect and remove the box-shadow animation
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#submit:active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}
