@import "./base";

body {
    display: flex;
    background: url('../../public/images/login-background.jpg') no-repeat center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

.login-hover {
    min-width: 400px;
}