@import './_bootstrap';
@import './_fontawesome';
@import './_variables';

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-SemiBold.ttf');
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-dark-blue;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.6rem;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:visited {
  color: $color-dark-blue;
}

.shadow-0 {
  box-shadow: none !important;
}

.bg-blue {
  background-color: $color-blue;
}

.text-shadow {
  text-shadow: 1px 1px black;
}
