@import '../theme';
@import '../_search_form';

.launchpad {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../images/yarrow.jpg')
  ;
  background-position: center;
  min-height: 500px;
}

.launchpad .container {
  box-sizing: content-box;
}
