@import '../theme';
@import '../_search_form';
@import '~leaflet/dist/leaflet';

#previewMap {
  min-height: 300px;
  max-height: 100vh;
  height: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

@media(max-width: 992px) {
  #previewMap {
    max-height: 400px;
  }
}

.bg-openstreetmaps {
  background-color: #7ebc6f !important;
}

.bg-googlemaps {
  background-color: rgb(26,115,232) !important;
}

.clinic:not(:last-child) {
  margin-bottom: 10px;
}

.clinic__mile-text {
  width: fit-content;
  white-space: nowrap;
}