<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | My Choice HRT</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo_no_text.png') }}" alt="pill shaped logo with transgender flag colors"/>
            My Choice HRT
        </a>
        <div class="navbar-nav">
            <a class="btn btn-primary rounded-pill" href="/feedback">Contact</a>
        </div>
    </div>
</nav>
<div class="main-content">
    {% block body %}{% endblock %}
</div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            </a>
            <span class="text-muted">Made with ❤️ by Nerv Systems LLC</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled mb-0 d-flex">
            <li class="ms-3"><a class="text-muted" href="https://git.cyberia.club/alena/mychoicehrt"><i
                            class="fa-brands fa-git-alt fa-2xl"></i></a></li>
        </ul>
    </footer>
</div>
{% block scripts %}{% endblock %}
</body>
</html>
