{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="launchpad d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="text-white display-3">Finding transgender healthcare should be easy.</h1>

                    <h2 class="text-white mt-5">Search for providers or clinics</h2>
                    {% include 'search-form.html.twig' with {
                        searchForm: searchForm
                    } only %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}