{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- launchpad image attribution: https://unsplash.com/photos/kFgVd29tzto -->
    <section class="launchpad py-4 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex align-items-center">
                    <h1 class="text-white display-3 text-shadow">Finding transgender healthcare should be easy.</h1>
                </div>
                <div class="col-lg-5 mt-5 mt-lg-0">
                    <h2 class="text-white text-shadow">Search providers and clinics</h2>
                    {% include 'search-form.html.twig' with {
                        searchForm: searchForm
                    } only %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <h4>About</h4>
                            <p>This website helps transgender and gender-nonconforming people find clinics and healthcare providers that offer informed consent hormone therapy.</p>
                            <p>Many great resources already exist that offer a curated list of friendly care providers, but this site allows you to search them all at once and show the ones in your neighborhood.</p>
                            <a class="card-link" href="{{ path('app_data_sources') }}">View this website's data sources</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4>Support this Website</h4>
                            <p>Hello 👋 I'm Alena, and I build, maintain and host this search tool. If my website has helped you in any way, please consider leaving me a tip. I'd appreciate it, thanks!</p>
                            <a href='https://ko-fi.com/N4N7I7903' target='_blank'><img style='border:0;height:36px;' src='{{ asset('images/kofi_button_dark.png') }}' alt='Send me a tip at ko-fi.com' /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}