{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <h2>Search for care</h2>
            {% include 'search-form.html.twig' with {
                searchForm: searchForm
            } only %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}