{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Contact Us</h2>

        {% for message in app.flashes('notification') %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(feedbackForm) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('feedback') }}
{% endblock %}
