{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2>Contact</h2>

                {% for message in app.flashes('notification') %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form(feedbackForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('feedback') }}
{% endblock %}
