{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <h2>Give your feedback</h2>

    {% for message in app.flashes('notification') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(feedbackForm) }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('feedback') }}
{% endblock %}
